* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}

header {
    height: 10%;
    background: rgb(17, 107, 25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5vw;
    font-family: "Arial";
    padding:0 2vw;
    color:white;
}
.game-body {
    height: 90%;
    background: black;
}
.equation {
    height: 15%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    align-items: center;
}

.operator,
.numbox,
.input-wrapper,
.invisible,
.check {
    color: white;

    font-family: Ubuntu;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-left:2%; */
}

.operator,
.numbox,
.input-wrapper,
.check {
    height: 50%;
    width: 12%;
}

.invisible {
    font-family: Ubuntu;
    background-color: black;
    border: 1px solid green;
    height: 100%;
    width: 60%;
    display: flex;
    text-align: right;
    padding: 0 5%;
    font-size: 3vw;
}

.check {
    background: blue;
    justify-content:center;
    transform:translateX(20%) scale(.8);
    border-radius:10px;
    font-size:2vw;
    /* color:white; */
    border: 1px solid blue;
}

.modal-msg{
    position:absolute;
    top:15%;
    left:15%;
    height:70%;
    width:70%;
    background:rgba(67, 37, 102, 0.97);
    display:flex;
    justify-content: center;
    color:white;
    font-family:arial;
    font-size:6vw;
    border-radius:2vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    

}
.modal-score-msg{
    transform:translateY(-20%);
    
}

.modal-score{
    animation:blink 1s infinite;
    font-size:7vw;
}
@keyframes blink{
    0% { opacity: 1; }
	50% { opacity: .5; }
	50.01% { opacity: .51; }
	100% { opacity: 1; }
}
.score, .score-total, .level, .level-total{
    color:white;
    font-size:2vw;
    
}
.score, .level{
    margin-left:5vw;

}
.score-total, .level-total{
    width:5vw;
    display:flex;
    justify-content: flex-end;
    transform:translateY(1px);
}