* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    overflow: hidden;
    /* max-width: 1400px; */
    margin:0 auto;
}
header {
    height: 10%;
    background: rgb(17, 107, 25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vw;
    font-family: "Arial";
    padding: 0 2vw;
    color: rgb(203, 206, 45);
    font-weight: bold;
}
header > div {
    z-index: 2;
}
header :nth-child(1){
    font-size:3vw;
}
.fish {
    height: 7%;
    z-index: 1;
    top: 1%;
    display: none;
    /* animation:fishAnimate 30s; */
}
.game-body {
    height: 90%;
    background: black;
    pointer-events: none;
    width:100%;
}
.equation {
    height: 12%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    font-size: 5vw;
    align-items: center;
    position: relative;
    /* left: -50%; */
}
.operator,
.numbox,
.input-wrapper,
.invisible,
.check {
    color: white;
    font-family: Ubuntu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-left:2%; */
}
.operator,
.numbox,
.input-wrapper,
.check {
    height: 50%;
    width: 15%;
}
.operator {
    width: 10%;
}
.invisible {
    font-family: Ubuntu;
    background-color: black;
    border: 1px solid green;
    height: 100%;
    width: 60%;
    display: flex;
    text-align: right;
    padding: 0 5%;
    font-size: 5vw;
}
.invisible:focus {
    outline: 0.5px solid yellow;
}
.check {
    background: blue;
    justify-content: center;
    transform: scale(0.8);
    border-radius: 10px;
    font-size: 3vw;
    /* color:white; */
    border: 1px solid blue;
    margin: 0 3%;
}
.modal-msg {
    position: absolute;
    top: 12%;
    left: 2%;
    height: 85%;
    width: 96%;
    background: rgba(67, 37, 102, 0.97);
    display: flex;
    justify-content: center;
    color: white;
    font-family: arial;
    font-size: 4vw;
    border-radius: 2vw;
  
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: auto;
    border:1px solid white;
    justify-content: space-evenly;
    background-image: url('/img/math_board.gif');
    background-position: center;
    opacity:0.1;
    z-index:2;
    /* animation:fadein 1s forward; */
}
@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.inner-modal{
    width:55%;
    height:55%;
    border-radius:2vw;
    border:1px solid green;
     display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* align-items:space-between; */
    align-items: center;
    background:green;
}
.modal-score-msg {
    transform: translateY(-20%);
}
.modal-level-msg {
    animation: blink 1s infinite;
    font-size: 5vw;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    50.01% {
        opacity: 0.51;
    }
    100% {
        opacity: 1;
    }
}
.choose-symbol{
    color: rgb(203, 206, 45);
    font-size:5vw;
}
.plus-sign, .minus-sign{
    font-size:3.5vw;
    
}

.score,
.score-total,
.level,
.level-total,
.time,
.time-total,
.lives,
.lives-total {
    color: white;
    font-size: 3.5vw;
}
.score,.score-total, .time, .time-total{
    color:rgb(35, 179, 167) !important;
}
.level, .level-total, .lives, .lives-total{
    color:rgb(179, 165, 35) !important;
}
.score,
.level,
.time,
.lives {
    margin-left: 4vw;
}
.score-total,
.level-total,
.time-total,
.lives-total {
    width: 3vw;
    display: flex;
    justify-content: flex-end;
    transform: translateY(0px);
}
.score-total, .time-total {
    margin-left: 1vw;
    display:flex;
    justify-content:flex-start;
}
.check-mark {
    /* transform: translateX(50px); */
}
.far.fa-check-square {
    /* font-size: 50px; */
    color: green;
}
.fas.fa-skull-crossbones {
    color: red;
}

@media only screen and (min-width: 600px) {
    header {
        height: 12%;
    }
    header :nth-child(1){
        text-align:left;
    }
    .fish {
        height: 8%;
        top: 7%;
    }
    .game-body {
        height: 88%;
    }
    .score,
    .score-total,
    .level,
    .level-total,
    .time,
    .time-total,
    .lives,
    .lives-total {
        color: white;
        font-size: 3vw;
    }
    .equation,
    .invisible {
        font-size: 5vw;
    }
    .equation {
        height: 15%;
    }
    .modal-msg{
    top: 14%;
   
    height: 83%;
    
    }
    /* .plus-sign{
        font-size:7vw;
    }
    .minus-sign{
        font-size:10vw;
    } */
}
@media only screen and (min-width: 900px) {
   
    header {
        height: 10%;
        
    }
    header > div{
        font-size:2.5vw;
    }
    .fish {
        height: 6%;
        top: 5%;
    }
    .game-body {
        height: 90%;
    }
    .score,
    .score-total,
    .level,
    .level-total,
    .time,
    .time-total,
    .lives,
    .lives-total{
        color: white;
        font-size: 2.5vw;
    }
    .score, .level, .time, .lives{
        font-size: 2.5vw;
    }
    .equation,
    .invisible {
        font-size: 3vw;
    }
    .check{
        font-size:2vw;
    }
    .modal-msg{
        font-size:2vw;
        top:13%;
        height:84%;
    }
    .modal-level-msg{
        font-size:3.5vw;
    }
    /* .plus-sign{
        font-size:6vw;
    }
    .minus-sign{
        font-size:6vw;
    } */
    
}
@keyframes fishAnimate {
    0% {
        transform: skew(-5deg, -5deg) translateY(0%);
    }
    50% {
        transform: skew(5deg, 5deg) translateY(-30%);
    }
    100% {
        transform: skew(-5deg, -5deg) translateY(0%);
        display:none;
    }
}
@keyframes slideEq {
    from {
        left: -50%;
    }
    to {
        left: 0;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
