* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
header {
    height: 7%;
    background: rgb(17, 107, 25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4vw;
    font-family: "Arial";
    padding: 0 2vw;
    color: white;
}
.game-body {
    height: 90%;
    background: black;
}
.equation {
    height: 10%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    font-size: 6vw;
    align-items: center;
}
.operator,
.numbox,
.input-wrapper,
.invisible,
.check {
    color: white;
    font-family: Ubuntu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-left:2%; */
}
.operator,
.numbox,
.input-wrapper,
.check {
    height: 50%;
    width: 12%;
}
.invisible {
    font-family: Ubuntu;
    background-color: black;
    border: 1px solid green;
    height: 100%;
    width: 60%;
    display: flex;
    text-align: right;
    padding: 0 5%;
    font-size: 6vw;
}
.invisible:focus {
    outline: 0.5px solid yellow;
}
.check {
    background: blue;
    justify-content: center;
    transform: scale(0.8);
    border-radius: 10px;
    font-size: 3vw;
    /* color:white; */
    border: 1px solid blue;
    margin: 0 6%;
}
.modal-msg {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background: rgba(67, 37, 102, 0.97);
    display: flex;
    justify-content: center;
    color: white;
    font-family: arial;
    font-size: 6vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.modal-score-msg {
    transform: translateY(-20%);
}
.modal-score {
    animation: blink 1s infinite;
    font-size: 7vw;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    50.01% {
        opacity: 0.51;
    }
    100% {
        opacity: 1;
    }
}
.score,
.score-total,
.level,
.level-total,
.time,
.time-total {
    color: white;
    font-size: 3.5vw;
}
.score,
.level,
.time {
    margin-left: 5vw;
}
.score-total,
.level-total,
.time-total {
    width: 5vw;
    display: flex;
    justify-content: flex-end;
    transform: translateY(1px);
}
.check-mark {
    /* transform: translateX(50px); */
}
.far.fa-check-square {
    /* font-size: 50px; */
    color: green;
}
.fas.fa-skull-crossbones {
    color: red;
}
@media only screen and (min-width: 600px) {
    header {
        height: 8%;
    }
    .score,
    .score-total,
    .level,
    .level-total,
    .time,
    .time-total {
        color: white;
        font-size: 3vw;
    }
    .equation,
    .invisible {
        font-size: 5vw;
    }
    .equation{
        height:15%;
    }
}
@media only screen and (min-width: 900px) {
    header {
        height: 10%;
    }
    .score,
    .score-total,
    .level,
    .level-total,
    .time,
    .time-total {
        color: white;
        font-size: 3.5vw;
    }
    .equation,
    .invisible {
        font-size: 3vw;
    }
}
